<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>增加数据</title>
</head>
<body>
<form th:action="@{/saveUser}" method="post">
 店铺名:<input type="text" name="name"><br/>
状     态:<input type="text" name="age"><br/>
宽带状态:<input type="text" name="names"> <br/>

<select id="admin" name="whether" >                                                                                                       
<option value="">--是否撤店--</option>
<option value="是">是</option>
<option value="否">否</option>
</select><br/>
<input type="submit" value="提交">
</form>
</body>
</html>