<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- resultMap最终还是要将结果映射到pojo上，type就是指定映射到哪一个pojo -->
<mapper namespace="com.dao.daomeo.dao.AddMapper">
	
	<!-- 添加 -->
	<insert id="insert" parameterType="com.dao.daomeo.entity.Add">
		 INSERT INTO add(name,brain,age) values(#{name},#{brain},#{age});
	</insert>
	
</mapper>