<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
 <mapper namespace="com.dao.daomeo.dao.StoreMapper">
 <!-- 增加 -->
 	<insert id="insertUser" parameterType="Store">
 	 INSERT INTO store(name,age,names,whether)VALUES(#{name},#{age},#{names},#{whether});
 	</insert>
 <!--查询用户列表信息-->
    <select id="selectUserList" resultType="Store">
        select * from store;
    </select>
 <!--根据用户id查询出当前对象-->
 	<select id="getUserById" parameterType="int" resultType="Store">
 	select*from store where id=#{id};
 	
 	</select>
 	<!--修改用户信息  根据id-->
 	<update id="updateUser" parameterType="Store">
 	update store set name=#{name},age=#{age},names=#{names},whether=#{whether} where id=#{id};
 	</update>
 </mapper>